---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";

export const prerender = true;
---

<MainLayout title="About | OpenStove">
  <!--Hero Section-->
  <div class="mt-10 py-6 sm:py-8 lg:py-12">
    <div
      class="rounded-xl bg-gradient-to-r from-primary to-secondary px-4 py-6 md:py-8 lg:py-12"
    >
      
      <h2
        class="mx-auto mb-4 max-w-3xl text-balance text-center text-3xl font-bold text-dark sm:text-4xl md:mb-6 md:text-5xl 2xl:max-w-4xl 2xl:text-6xl"
      >
        hết lười thì viết 
      </h2>

      <p
        class="mx-auto max-w-screen-md text-pretty text-center text-stone-600 md:text-lg"
      >
        hehe
      </p>
    </div>
  </div>
  <!-- End Hero -->

  <!-- Top Content Section  -->
  <div class="py-6 sm:py-8 lg:py-12">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2
              class="text-balance text-3xl font-bold tracking-tight text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
            >
              Hello!
            </h2>
            <p
              class="text-pretty text-stone-600 sm:text-lg 2xl:text-xl dark:text-stone-400"
            >
              hết lười thì viết 
              <br /><br />
            </p>
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Col -->
      <div>
        <Icon
          class="mx-auto h-auto w-3/4 md:w-10/12 2xl:w-3/4"
          name="placeholder"
        />
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Top Content -->
</MainLayout>
