---
import { Icon } from "astro-icon/components";
---

<!-- Footer -->
<footer class="mx-auto mt-16 w-full bg-primary py-6">
  <!-- Grid -->
  <div class="mx-auto max-w-screen-2xl px-4 text-center md:px-8">
    <div class="flex justify-center">
      <Icon name="logo-footer" class="h-auto w-36" />
    </div>
    <!-- End Col -->

    <div class="mt-4">
      <p class="text-footer 2xl:text-lg">Nơi lưu giữ các món ngon của Hiền Tiên.</p>
      <p class="text-footer 2xl:text-lg">© 2024</p>




    </div>
  </div>
  <!-- End Grid -->
</footer>
<!-- End Footer-->

<script>
  const year = new Date().getFullYear();
  const element = document.getElementById("current-year");
  element!.innerText = year.toString();
</script>
